.detail{
    .container {
        width: 750px;
    }
    .detail-inner {
        p {
            font-size: 20px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 26px;
        }
        h4 {
            font-size: 25px;
        }
        h5, h6 {
            font-size: 22px;
        }
        .detail-inner-scroll {
            width: 100%;
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .content{
            margin-top: 40px;
        }
    }
}

header .burger {
    left: 35px;
}
.fixed-menu,
.fixed-menu-special {
    @item-width: 120px;
    nav {
        width: ((@item-width * 6) + 100);
        ul {
            padding-left: @item-width;
            padding-right: @item-width;
            margin: -5px 0;
            li {
                width: @item-width;
                padding: 5px 0;
            }
        }
    }
}

header .burger, .fixed-menu .back-arrow {
    left: 34px;
    top: 19.5px;
}

.left-bar{
    width: 69px;
    padding-bottom: 22px;
}

.headline.short .scroll-down-image {
    width: 180px;
    height: 180px;
    &:before {
        width: 60px;
        height: (60px * 1.57);
    }
}

.headline.short .headline-inner {
    padding-bottom: 180px;
}

.headline .headline-inner .headline-inner-cell h1 {
    font-size: 35px;
    line-height: 1.9em;
}

.person .person-inner {
    width: 800px;    
}

.person .person-inner .person-inner-cell {
    width: 800px;
}

.short-body .person .person-inner .person-inner-cell .image {
    width: 220px;
    height: 220px;
}

.person .person-inner .person-inner-cell h2 {
    font-size: 28px;
    line-height: 1.7em;
}

.short-body .person .person-inner .person-inner-cell .job {
    font-size: 28px;
}