.detail .container {
    width: 600px;
}

.detail .detail-inner .detail-inner-scroll {
    width: 100%;
    //padding-right: 25px;
}

header .burger, .fixed-menu .back-arrow {
    left: 18px;
    top: 15px;
    width: 35px;
    height: 35px;
}

.left-bar{
    width: 45px;
    padding-bottom: 18px;
}

header .partner {
    top: 22px;
    right: 22px;
    width: 240px;
}

.headline .headline-inner .headline-inner-cell h1 {
    font-size: 28px;
    line-height: 1.6em;
    letter-spacing: 20px;
}

.person .person-inner .person-inner-cell h2 {
    font-size: 24px;
    line-height: 1.5em;
}

.short-body .person .person-inner .person-inner-cell .job {
    font-size: 24px;
}

.persons-nav {
    right: 25px;
}

.fixed-menu,
.fixed-menu-special {
    @item-width: 110px;
    nav {
        width: ((@item-width * 6) + 100);
        @media (orientation : landscape) {
            display: block;
            overflow: auto;
        }
        ul {
            padding-left: @item-width;
            padding-right: @item-width;
            margin: -5px 0;
            li {
                width: @item-width;
                padding: 5px 0;
                a{
                    .image-overlay{
                        b{
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                    .item-text{
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

p.perex {
    & + p {
        &:first-letter {
            font-size: 60px !important;
            line-height: 51px !important;
        }
    }
} 

.detail-inner {
    p {
        &:first-of-type {
            & + p {
                &:first-letter {
                    font-size: 60px !important;
                    line-height: 51px !important;
                }
            }
        }
    }
}