header .partner {
    right: 10px;
}

header .burger, .fixed-menu .back-arrow {
    left: 10px;
    top: 16px;
}

.left-bar{
    width: 35px;
    padding-bottom: 10px;
}

.headline .headline-inner {
    width: 300px;
    margin-left: -150px;
    .headline-inner-cell {
        width: 300px;
    }
}

.headline .headline-inner .headline-inner-cell h1 {
    padding-right: 0;
    font-size: 24px;
    padding-left: 10px;
    @media (orientation : landscape) {
        padding-top: 30px;
    }
}

.headline .scroll-down-image {
    width: 120px !important;
    height: 120px !important;
    &:before {
        width: 40px !important;
        height: (40px * 1.57) !important;
    }
}

.fixed-menu,
.fixed-menu-special {
    @item-width: 120px;
    nav {
        margin-top: 2vh;
        height: 96vh;
        width: auto;
        @media (orientation : landscape) {
            margin-top: 0;
            height: 100vh;
            display: block;
            overflow: auto;
            ul{
                margin: 8px 0;
            }
        }
        ul {
            width: 100%;
            padding: 0;
            margin: -5px 0;
            overflow: initial;
            li {
                width: (100% / 3);
                padding: 5px 0;
                a{
                    .image{
                        height: 100%;
                        @media (orientation : portrait) {
                            max-height: (80vh / 5);
                        }
                    }
                    .image-overlay{
                        opacity: 1;
                        background: rgba(255,255,255,0.6);
                        b{
                            font-size: 10px;
                            letter-spacing: 0;
                            line-height: 15px;
                        }
                    }
                    .item-text{
                        display: block;
                        font-size: 8.5px;
                        letter-spacing: -0.25px;
                        @media (max-height: 500px){
                            display: none;
                        }
                    }
                }
                &:first-child,
                &:last-child{
                    position: relative;
                    top: auto;
                    left: auto;
                    bottom: auto;
                    right: auto;
                }
                &:first-child{
                    order: 98;
                }
                &:last-child {
                    order: 99;
                }
            }
        }
    }
}

.person .person-inner {
    width: 300px;
    .person-inner-cell {
        width: 300px;
    }
}

.persons-nav {
    height: 94vh;
    top: 3vh;
    right: 10px;
}

.persons-nav .prev {
    width: 30px;
    height: 65px;
}

.persons-nav .next {
    width: 30px;
    height: 65px;
}

.person .person-inner .person-inner-cell h2 {
    font-size: 18px;
    letter-spacing: 2px;
}

.person .person-inner .person-inner-cell .job {
    font-size: 18px !important;
    letter-spacing: 2px !important;
}

.person .person-inner .person-inner-cell .image {
    margin-left: auto;
}

.detail{
    .container {
        width: 100%;
        padding-left: 50px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .detail-inner {
        p {
            padding-bottom: 25px;
        }
        h1 {
            font-size: 22px;
            letter-spacing: 2px;
        }
        h2 {
            font-size: 20px;
            letter-spacing: 2px;
        }
        h3 {
            font-size: 18px;
            letter-spacing: 2px;
        }
        h4 {
            font-size: 17px;
            letter-spacing: 2px;
        }
        h5, h6 {
            font-size: 16px;
            letter-spacing: 2px;
        }
        p,
        .tip li{
            font-size: 16px;
        }
        .detail-inner-scroll {
            width: 100%;
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .name,
        .job {
            font-size: 20px;
        }
        .wp-caption-text{
            font-size: 14px;
        }
    }
}
p.perex {
    & + p {
        &:first-letter {
            font-size: 40px !important;
            line-height: 35px !important;
        }
    }
} 

.detail-inner {
    p {
        &:first-of-type {
            & + p {
                &:first-letter {
                    font-size: 40px !important;
                    line-height: 35px !important;
                }
            }
        }
    }
}

.single, .error404 {
    header {
        .partner {
            display: none;
        }
    }
}

.headline .headline-inner .headline-inner-cell p.description {
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 5px;
}
