/*.detail .container {
    width: 1000px;
}

.detail .detail-inner .detail-inner-scroll {
    width: 1025px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 25px;
}

.detail .detail-inner h1 {
    font-size: 40px;
    line-height: 2em;
}*/

.fixed-menu,
.fixed-menu-special {
    @item-width: 170px;
    nav {
        width: ((@item-width * 6) + 100);
        ul {
            padding-left: @item-width;
            padding-right: @item-width;
            li {
                width: @item-width;
            }
        }
    }
}

.person .person-inner .person-inner-cell .image:before {
    width: 100px;
    height: 64px;
    margin-top: -32px;
    margin-left: -50px;
}

.detail .detail-inner p {
    //font-size: 24px;
}