/* Message */
@cookie-background: #f2f2f2;
@cookie-padding-vertical: 15px;
@cookie-padding-vertical-mobile: 15px;
@cookie-padding-horizontal: 30px;
@cookie-padding-horizontal-mobile: 20px;
/* Text */
@cookie-text-color: #242424;
@cookie-text-size: 16px;
@cookie-text-size-mobile: 14px;

.cookie-message{
    .display(flex);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: @cookie-background;
    padding: @cookie-padding-vertical @cookie-padding-horizontal;
    .justify-content(space-between);
    .align-items(center);
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-out;
    &.active{
        opacity: 1;
        pointer-events: auto;
    }
    &__text{
        .font-pathway();
        color: @cookie-text-color;
        margin: 0 @cookie-padding-horizontal 0 0;
        font-size: @cookie-text-size;
        line-height: 1.5;
        a{
            color: @cookie-text-color;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__button{
        width: 125px;
        min-width: 125px;
        height: 40px;
        line-height: 40px;
        border: 1px solid black;
        .font-pathway();
        color: @color;
        font-size: 14px;
        text-indent: 5px;
        letter-spacing: 5px;
        background-color: transparent;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        .transition(all .2s ease-in-out);
        cursor: pointer;
        &:hover,
        &:active{
            color: white;
            background-color: black;
        }
    }
}

@media (max-width: 800px){
    .cookie-message {
        .align-items(flex-start);
    }
}

@media (max-width: 500px){
    .cookie-message{
        .flex-direction(column);
        .align-items(flex-start);
        padding: @cookie-padding-vertical-mobile @cookie-padding-horizontal-mobile;
        &__text{
            margin: 0 0 @cookie-padding-horizontal-mobile 0;
            font-size: @cookie-text-size-mobile;
        }
        &__button{
            font-size: @cookie-text-size-mobile;
        }
    }
}