@color: #272829;
body.page-template-template-export{
    color: fade(@color,60%);
    height: 100%;
    .display(flex);
    .align-items(center);
    .justify-content(center);
    .wrap{
        padding: 50px;
        border: 2px solid #e1e5e8;
    }
    a{
        color: fade(@color,80%);
        text-decoration: underline;
    }
}