
.font-light() {
    font-family: 'myriad bold', Helvetica, Arial, Verdana, sans-serif;    
    font-weight: 300;
}

.font-regular() {
    font-family: 'Minion Pro', Helvetica, Arial, Verdana, sans-serif;    
    font-weight: 400;
}

.font-bold() {
    font-family: 'Minion Pro', Helvetica, Arial, Verdana, sans-serif;    
    font-weight: 700;
}

.font-ialic() {
    font-family: 'myriad italic', Helvetica, Arial, Verdana, sans-serif;    
    font-weight: 400;
    font-style: italic;
}

.font-extrabold() {
    font-family: 'museo700', Helvetica, Arial, Verdana, sans-serif;    
    font-weight: 900;
}

.font-signika-bold() {
    font-family: 'signika-bold', Helvetica, Arial, Verdana, sans-serif;    
    font-weight: 700;
}

.font-signika-regular() {
    font-family: 'signika-regular', Helvetica, Arial, Verdana, sans-serif;    
    font-weight: 400;
}


.font-signika-semibold() {
    font-family: 'signika-regular', Helvetica, Arial, Verdana, sans-serif;    
    font-weight: 600;
}


.font-pathway() {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}