@color: #272829;
html{
    height: 100%;
    min-height: 100%;
}
body.page-template-template-quiz{
    height: 100%;
    &:not(.is-question){
        background: url('../images/quiz-bottom-bg.png') no-repeat bottom center;
    }
    .left-bar {
        display: block;
    }
}
.section-quiz{
    .font-pathway();
    position: relative;
    max-width: 1140px;
    height: 100%;
    .display(flex);
    .align-items(center);
    .justify-content(center);
    color: @color;
    padding: 170px 50px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        .translate3d(-50%,-50%,0);
        opacity: 0;
        width: 99%;
        display: block;
        padding-bottom: 99%;
        border: 1px solid black;
        border-radius: 50%;
        pointer-events: none;
        .transition(opacity .2s ease-in-out);
    }
    .is-question &{
        &:before{
            opacity: 1;
        }
    }
    .wrap{
        width: 75%;
    }
    .questions-slider{
        position: relative;
        z-index: 2;
    }
    .item{
        opacity: 0;
        &:not(.slick-current){
            pointer-events: none;
        }
        &-text{
            max-width: 100%;
            &:not(:last-child){
                margin-bottom: 58px;
            }
            h3{
                font-size: 32px;
                font-weight: 400;
                text-indent: 20px;
                letter-spacing: 20px;
                line-height: (48 / 32);
                text-transform: uppercase;
                &:not(:last-child){
                    margin-bottom: 14px;
                }
            }
            h4{
                opacity: 0.54;
                font-size: 20px;
                font-weight: 400;
                text-indent: 10px;
                letter-spacing: 10px;
                line-height: (24 / 20);
                text-transform: uppercase;
                &:not(:first-child){
                    margin-top: 14px;
                }
                &:not(:last-child){
                    margin-bottom: 36px;
                }
            }
            p{
                opacity: 0.54;
                font-size: 20px;
                font-weight: 400;
                line-height: (32 / 20);
                &:not(:first-child){
                    margin-top: 36px;
                }
                &:not(:last-child){
                    margin-bottom: 36px;
                }
            }
        }
        &-cta{
            margin: -10px;
            .display(flex);
            .justify-content(center);
            > *{
                margin: 10px;
            }
        }
        &-link{
            &:not(:first-child){
                margin-top: 70px;
            }
        }
    }
    .intro-form{
        @errorColor: #e91010;
        position: relative;
        padding-bottom: 20px;
        .intro-form-row:not(first-child){
            padding-top: 20px;
        }
        .intro-form-data-email{
            max-width: 600px;
            border: none;
            border-bottom: 1px solid #000;
            border-radius: 0;
            .font-pathway();
            font-size: 15px;
            text-align: left;
            ::-webkit-input-placeholder {
                opacity: 1;
                color: fade(@color,50%);
            }
            ::-moz-placeholder {
                opacity: 1;
                color: fade(@color,50%);
            }
            :-ms-input-placeholder {
                opacity: 1;
                color: fade(@color,50%);
            }
            :-moz-placeholder {
                opacity: 1;
                color: fade(@color,50%);
            }
        }
        .intro-form-data-gdpr{
            display: none;
            +label{
                display: inline-block;
                padding-left: 30px;
                text-align: left;
                &, & *{
                    .font-pathway();
                    font-size: 13px;
                    color: fade(@color,70%);
                }
                &:before{
                    position: absolute;
                    top: 2px;
                    left: 0;
                    content: '';
                    width: 16px;
                    height: 16px;
                    display: block;
                    border: 1px solid #888a94;
                    background: transparent none no-repeat center center;
                    background-size: 60% auto;
                }
                a{
                    text-decoration: underline;
                }
            }
            &:checked+label:before{
                background-image: url('../images/icon-check.svg');
            }
        }
        .intro-form-error{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            .font-bold;
            font-size: 13px;
            color: @errorColor;
            > *{
                display: block;
            }
        }
    }
    .question{
        .item-inner{
            padding-left: 60px;
            padding-right: 60px;
            font-size: 0;
        }
        &-num{
            position: relative;
            .translate3d(-60px,0,0);
            text-align: left;
            .num{
                display: inline-block;
                font-size: 46px;
                font-weight: 700;
                line-height: (56 / 46);
            }
            .from{
                .translate3d(0,6px,0);
                display: inline-block;
                margin-left: 8px;
                opacity: 0.54;
                font-size: 20px;
                font-weight: 400;
                line-height: (24 / 20);
                vertical-align: top;
            }
        }
        &-text{
            .display(flex);
            .align-items(center);
            .justify-content(center);
            height: 340px;
            padding-top: 20px;
            padding-bottom: 60px;
            line-height: (56 / 46);
            font-size: 46px;
        }
    }
    .intro,
    .results{
        .item-inner{
            .display(flex);
            .flex-direction(column);
            .justify-content(center);
            .align-items(center);
        }
    }
    .results{
        padding-bottom: 30px;
        .result:not(.active){
            display: none;
        }
    }
    button,
    a.btn-look{
        min-width: 192px;
        height: 48px;
        line-height: 48px;
        display: inline-block;
        padding: 0 50px;
        border: 1px solid black;
        .font-pathway();
        color: @color;
        font-size: 15px;
        text-indent: 5px;
        letter-spacing: 5px;
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        .transition(all .2s ease-in-out);
        cursor: pointer;
        &:hover,
        &:active{
            color: white;
            background-color: black;
        }
    }
    a.link-look{
        display: inline-block;
        padding: 0 15px 5px 15px;
        border-bottom: 1px solid #005e8e;
        font-size: 12px;
        font-weight: 700;
        color: @color;
        line-height: (16 / 12);
        text-decoration: none;
        text-transform: uppercase;
    }
}
@media screen and (max-height: 680px){
    body.page-template-template-quiz:not(.is-question){
        background: none;
    }
    .section-quiz{
        overflow: auto;
    }
}

@media screen and (max-height: 767px) , screen  and (max-width: 767px){
    .section-quiz{
        display: block;
        max-width: 780px;
        padding: 70px 40px 30px 40px;
        margin: 0 auto;
        &:before{
            display: none;
        }
        .wrap{
            width: auto;
        }
    }
}

@media screen and (max-width: 767px) and (min-height: 681px){
    body.page-template-template-quiz:not(.is-question){
        .left-bar{
            padding-bottom: 140px;
        }
    }
}

@media screen  and (max-width: 767px) and (min-width: 0px) {
    .section-quiz{
        max-width: 480px;
        .item{
            &-text{
                &:not(:last-child){
                    margin-bottom: 38px;
                }
                h3{
                    font-size: 22px;
                    text-indent: 6px;
                    letter-spacing: 6px;
                }
                h4{
                    font-size: 18px;
                    text-indent: 4px;
                    letter-spacing: 4px;
                    &:not(:first-child){
                        margin-top: 14px;
                    }
                    &:not(:last-child){
                        margin-bottom: 26px;
                    }
                }
                p{
                    font-size: 16px;
                    &:not(:first-child){
                        margin-top: 26px;
                    }
                    &:not(:last-child){
                        margin-bottom: 26px;
                    }
                }
            }
            &-cta{
                display: block;
            }
            &-link{
                &:not(:first-child){
                    margin-top: 30px;
                }
            }
        }
        .intro-form{
            padding-bottom: 0;
            .intro-form-error {
                position: static;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                padding-top: 20px;
            }
        }
        .question{
            .item-inner{
                padding-left: 0;
                padding-right: 0;
            }
            &-num{
                text-align: center;
                .translate3d(16px,0,0);
                .num{
                    font-size: 30px;
                }
                .from{
                    .translate3d(0,4px,0);
                    margin-left: 5px;
                    font-size: 16px;
                }
            }
            &-text{
                display: block;
                .align-items(initial);
                height: auto;
                padding-top: 20px;
                padding-bottom: 40px;
                font-size: 26px;
            }
        }
        button,
        a.btn-look{
            min-width: 170px;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            text-indent: 2px;
            letter-spacing: 2px;
        }
    }
}