@import "base/reset.less";
@import "base/flex.less";
@import "main/colors.less";
@import "base/nslesslib.less";
@import "base/nscsslib.less";
@import "main/fonts.less";
@import "main/icons.less";
@import "main/backgrounds.less";
@import "main/forms.less";
@import "main/basics.less";
@import "quiz/slick";
@import "quiz/quiz";
@import "main/export";
@import "main/cookie";


.container {
        width: 1200px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
@media screen  and (max-width: 1500px)  and (min-width: 0px) {
    
    @import "custom/custom1500.less";    
    
}

@media screen  and (min-width: 1366px) {
/*    
    html {
        text-align: center;
    }
    body {
        text-align: left;
        width: 1366px;
        margin-left: auto;
        margin-right: auto;
    }*/
    
}

@media screen  and (max-width: 1230px)  and (min-width: 0px) {
    @import "grid/grid.1178.less";
    @import "vars/vars1178.less";
    
    @import "custom/custom1178.less";    
    
}

@media screen  and (max-width: 1229px) and (min-width: 0px) {
    @import "grid/grid.978.less";
    @import "vars/vars978.less";    
    .container {
        width: 948px;
    }
    @import "custom/custom978.less";
    
} 

@media screen  and (max-width: 977px) and (min-width: 0px) {
    @import "grid/grid.748.less";
    @import "vars/vars768.less";
    .container {
        width: 748px;
        padding-left: 5px;
        padding-right: 5px;
    }
    @import "custom/custom768.less";
} 

@media screen  and (max-width: 767px) and (min-width: 0px) {
    @import "grid/grid.300.fluid.less";
    @import "vars/vars300.less";
    //@import "main/common.less";
    .container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    @import "custom/custom300.less";
}

@media screen  and (max-width: 480px) and (min-width: 0px) {
    .headline .headline-inner {
        width: 280px;
        margin-left: -140px;
        .headline-inner-cell {
            width: 280px;
            h1 {
                text-indent: 6px;
                letter-spacing: 12px;
                font-size: 24px;
                padding-left: 0;
            }
        }
    }
}

@media screen and (max-height: 550px){
    .person.credits{
        overflow-y: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        .person-inner{
            height: auto;
            display: block;
            .person-inner-cell{
                display: block;
            }
        }
        .person-credits {
            position: relative;
            bottom: auto;
            margin-top: 40px;
            font-size: 14px;
            .l{
                display: block;
                margin-top: 8px;
            }
        }
    }
}